body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ====================== */

.container {
  /* max-width: 1158px; */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

/* ===========HEADER=========== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
}

.page-navigation .logo {
  padding: 16px 0;
}

.logo-black {
  color: #2e2f42;
}

.header-btn {
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.header-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  /* display: flex;
  gap: 40px; */
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.header-link .current::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

@media (min-width: 768px) and (max-width: 1057px) {
  a.header-link .current::after {
    bottom: 6px;
  }
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
  position: relative;
}

.page-address {
  font-style: normal;
  margin-left: auto;
}

.adddress-list {
  display: flex;
  gap: 40px;
}

.adddress-list-item {
}

.address-contacts {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts:hover,
.address-contacts:focus {
  color: #404bbf;
}

@media (max-width: 767px) {
  .header-list,
  .adddress-list {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-navigation {
    justify-content: flex-start;
    margin-right: 120px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    padding: 24px 0;
  }

  .adddress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .logo {
    margin-right: 120px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .header-container {
    justify-content: space-between;
  }

  .adddress-list {
    flex-direction: row;
    gap: 40px;
    width: 350px;
  }

  .logo {
    margin-right: 76px;
  }

  .address-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* ====================== */
/* ===========HERO=========== */

.hero {
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/images1x-mob/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images2x-mob/hero-mobile@2x.jpg);
  }
}

.hero-container {
  max-width: 320px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
  color: #fff;
  max-width: 216px;
  margin-bottom: 72px;
}

.hero-btn {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: 0;
  margin: auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

@media (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    max-height: 120px;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }

  .hero-container {
    max-width: 768px;
    margin: auto;
  }

  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images1x-tab/hero-tab.jpg);

    padding: 112px 0;
    max-width: 768px;
  }
}
@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images2x-tab/hero-tab@2x.jpg);
  }
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/images2x-desk/hero-desk@2x.jpg);
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images2x-desk/hero-desk@2x.jpg);
  }
}

/* ========================================== */
/* ========BENEFITS====== */
.benefits {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h2 {
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
  height: 112px;
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (max-width: 1157px) {
  .benefits-svg-icon {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-subtitle {
    text-align: start;
  }
}

@media (min-width: 1158px) {
  .benefits-list {
    width: 1128px;
  }

  .benefits-svg-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
}

/* @media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-list-item {
    width: calc((100% - 2 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
    gap: 0 24px;
  }
} */

/* ====================== */
/* ===========TEAM=========== */

.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  flex-basis: calc((100% - 3 * 72px) / 4);
}

.team-description-div {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}

@media (min-width: 768px) and (max-width: 1158px) {
  .tab-team-list {
    max-width: 552px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* ===================================== */

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  /* padding-bottom: 20px; */
}

.team-socials-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.team-socials-svg {
  fill: #f4f4fd;
}

.team-socials-item {
  height: 40px;
}

/* ====================== */
/* ===========PORTFOLIO=========== */

.portfolio {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

@media (min-width: 768px) {
  .portfolio-list-item {
    width: 356px;
  }
}

@media (min-width: 1158px) {
  .portfolio-list-item {
    width: 30%;
  }
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-card-overlay-div {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 40px 32px;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-card-overlay-div .card-overlay {
  transform: translateY(0%);
}

.portfolio-description-div {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (min-width: 768px) {
  .portfolio-card-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-card-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .portfolio-card-list {
    row-gap: 40px;
  }

  .portfolio-card-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* ====================== */
/* ===========FOOTER=========== */

.page-footer {
  background: #2e2f42;
  padding: 96px 0;
}

@media (max-width: 767px) {
  .footer-wrapper {
    /* padding: 96px 0; */
  }
}

.footer-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-white {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  margin-top: 16px;
  /* margin-bottom: 72px; */
}

.footer-logo {
  /* display: inline-block; */
}

.social-media-container {
  /* margin-bottom: 72px; */
}

.footer-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
/* ========================= */
.footer-social-container {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-item {
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px;
}

.footer-social-link {
  fill: #4d5ae5;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-link-icon {
  fill: #f4f4fd;
}

.subscribe-title {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe {
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-send {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send:hover,
.footer-send:focus {
  background-color: #31d0aa;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-send-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-block {
}

@media (min-width: 768px) and (max-width: 1157px) {
  .footer-block {
    margin-left: 108px;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .footer-wrapper {
    /* padding: 96px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 553px;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .footer-main-container {
    align-items: flex-start;
    padding-top: 0;
  }

  .footer-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    width: 50%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .footer-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
  }

  .subscribe-title {
    text-align: start;
  }

  .subscribe-input {
    width: 264px;
  }

  .footer-main-container {
    align-items: flex-start;
  }

  .footer-logo {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .footer-media-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer-section {
    padding: 100px 0;
  }

  .footer-main-container {
    margin-right: 120px;
    width: 264px;
  }

  .footer-block {
    height: 112px;
    gap: 0;
  }

  .footer-form {
    gap: 24px;
  }

  .social-media-container {
    margin-right: 80px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .social-media-container {
    margin: 72px 0;
  }
}

/* ====================== */
/* ===========OVERLAY========= */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: calc(100% - 32px);
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  border: none;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover > .modal-close-icon,
.modal-close:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}
.modal-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}

.modal-comment-wrap {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-comment:focus {
  border-color: #4d5ae5;
}

.privacy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox-holder {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .privacy-text .checkbox-holder {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.submit-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}

.submit-button:active {
  background-color: #404bbf;
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px 16px;
  opacity: 0;
  pointer-events: none;
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  margin-bottom: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.is-open {
  opacity: 1;
  display: flex;
  pointer-events: auto;
}
.navigation-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.nav-links-menu {
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.nav-links-menu li:first-child .links-menu {
  color: #404bbf;
}
.links-menu:active {
  color: #404bbf;
}
.links-menu:hover {
  color: #404bbf;
}
.links-menu:focus {
  color: #404bbf;
}
.nav-links-menu .links-menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-menu {
  color: #2e2f42;
}
.info-menu {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  gap: 24px;
  margin-bottom: 48px;
}

.address-menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #434455;
}

.address-menu:focus,
.address-menu:hover,
.address-menu:active {
  color: #4d5ae5;
}

.social-list-menu {
  justify-content: space-between;
  display: flex;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu .modal-close {
  background: transparent;
}
